<section id="page-top" class="summary-page flex-container-column">
	<div id="archive-search" class="flex-container-row">
		<label id="search-field">Search: <input class="search-archives" placeholder="Search past press releases" ng-model="searchPressReleases" autofocus></label>
		<label class="search-sort">Sort by: 
			<select class="archive-sort" ng-model="orderPressReleases">
				<option value="id">Date</option>
				<option value="name">Title</option>
			</select>
		</label>
		<label class="search-sort">Ascending
			<input type="radio" ng-model="direction" name="direction">
		</label>
		<label class="search-sort">Descending
			<input type="radio" ng-model="direction" name="direction" value="reverse">
		</label>	
	</div>
	<p id="page-count-1" class="page-count">Page {{currentPage + 1}} of {{numberOfPages()}}</p>
	<div id="pressrelease-{{pressrelease.id}}" class="archive-summary-container" ng-repeat="pressrelease in pressreleases | filter:searchPressReleases | orderBy:orderPressReleases:direction | startFrom: currentPage*pageSize | limitTo: pageSize">

		
		<div class="pressrelease-summary">
			<h2 class="entry-title"><a href="http://localhost:8888/wildflower_news/archive/press-releases-archives/#/fullarticles/{{pressreleases.indexOf(pressrelease)}}/{{pressrelease.name | specialchars | addhyphen | titlecase}}">{{pressrelease.name}}</a></h2>				
			<p class="archive-date">{{pressrelease.datereleased | date:'longDate'}}</p>
			<p ng-bind-html="pressrelease.summary"></p>
			<p><a href="http://localhost:8888/wildflower_news/archive/press-releases-archives/#/fullarticles/{{pressreleases.indexOf(pressrelease)}}/{{pressrelease.name | specialchars | addhyphen | titlecase}}"><em>Read more</em></a> <span class="lightorange-spot">></span></p>
		</div>					
		

	</div>
	
	<p id="page-count-2" class="page-count">Page {{currentPage + 1}} of {{numberOfPages()}}</p>
	<div class="archive-pagination">
		<button class="page-button prev" ng-click="setCurrentPage(currentPage - 1); scrollToHash('whitewrap')">< Prev</button>
		<button class="page-button" ng-repeat="page in pages | limitTo:10 track by $index" ng-click="setCurrentPage($index); scrollToHash('whitewrap')">
			{{page}}
		</button>
		<button class="page-button next" ng-click="setCurrentPage(currentPage + 1); scrollToHash('whitewrap')">Next ></button>
		<button class="page-button last" ng-click="setCurrentPage(pages[pages.length-2]); scrollToHash('whitewrap')">Last</button>
	</div>
</section>