<div id="news-events-container" class="sidebar-list-container sidebar-container">
    <div class="sidebar-list-heading">
		<h6>Upcoming Events</h6>
		<p><em>What's happening at the Wildflower Center</em></p>
	</div>
	<div id="news-events-list" class="upcoming-events-list">
		<ul>
			<!-- <li ng-repeat="event in events | orderBy: ['event_date', '-end_date'] | limitTo: -10 "> -->
			<li class="event-list-item" ng-repeat="event in events | limitTo: 5">
				<h6 ng-if="!event.link" class="sidebar-features">{{event.title}}</h6>
				<h6 class="sidebar-features"><a ng-if="event.link" href="//wildflower.org/{{event.link}}" target="_blank">{{event.title}}</a></h6>
				<em>{{event.event_details}}</em>
			</li>
		</ul>
    <div id="events-all"><a class="sidebar-button" href="//wildflower.org/events" target="_blank">View All Events</a></div>
    </div>
</div>