<section class="summary-page flex-container-column">
	<div id="archive-search" class="flex-container-row">
		<label id="search-field">Search: <input class="search-archives" placeholder="Search past articles" ng-model="searchFeatures" autofocus></label>
		<label class="search-sort">Sort by: 
			<select class="archive-sort" ng-model="orderFeatures">
				<option value="date">Date</option>
				<option value="title">Title</option>
			</select>
		</label>
		<label class="search-sort">Ascending
			<input type="radio" ng-model="direction" name="direction" checked>
		</label>
		<label class="search-sort">Descending
			<input type="radio" ng-model="direction" name="direction" value="reverse">
		</label>	
	</div>

	<p id="page-count-1" class="page-count">Page {{currentPage + 1}} of {{numberOfPages(features)}}</p>
	
	<pagination-top class="archive-pagination"></pagination-top>

	<div id="feature-{{feature.id}}" class="archive-summary-container" ng-repeat="feature in features | filter:searchFeatures | orderBy:orderFeatures:direction | startFrom: currentPage*pageSize | limitTo: pageSize">

		
			<div class="feature-summary flex-container-row">
				<div class="archive-feature-image">
					<a href="http://localhost:8888/wildflower_news/archive/features-archives/#/fullarticles/{{features.indexOf(feature)}}/{{feature.title | specialchars | addhyphen | titlecase}}"><img width="150" ng-src="../_images/{{feature.image}}" alt="{{feature.title}} feature image"></a>
				</div>
				<div class="archive-feature-text">
					<h2 class="entry-title">
					<a href="http://localhost:8888/wildflower_news/archive/features-archives/#/fullarticles/{{features.indexOf(feature)}}/{{feature.title | specialchars | addhyphen | titlecase}}">
					{{feature.title}}</h2></a>
					<p class="archive-date">{{feature.date | date:'longDate'}}</p>
					<p ng-bind-html="feature.summary"></p>
					<p><a href="http://localhost:8888/wildflower_news/archive/features-archives/#/fullarticles/{{features.indexOf(feature)}}/{{feature.title | specialchars | addhyphen | titlecase}}"><em>Read more</em></a> <span class="lightorange-spot">></span></p>
				</div>
			</div>					
		
	</div>

	<p id="page-count-2" class="page-count">Page {{currentPage + 1}} of {{numberOfPages(features)}}</p>
	
	<pagination-bottom class="archive-pagination"></pagination-bottom>
</section>