//#wrapper-wl8562f954fca8c4 {
.footer-background,
.wrapper-mirroring-woe562f93e1d4091 {
    background-color: $wfc-darkgray;
    color: $wfc-white;
    font-size: 0.9rem;	
}

#footer-container {
    border-bottom: 1px solid $wfc-white;
    display: table;
    padding: 1rem 0;
    width: 100%;
}

.footer-block {
	background-color: $wfc-darkgray;

	h1 {
		font-size: 1.9rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}

#nav-form-container {
	display: table;
	float: left;
}

#footer-nav-container {
	color: $wfc-white;
	display: table;
	float: left;
	
	a {
		color: inherit;
		text-decoration: none;
	}
}

#wire-form {
	clear: both;
	display: block;
	float: left;

	p {
    	margin: 1rem 0 0;
	}
}

// MailChimp sign-up form

.footer-nav-mc {
  margin: .6rem 0;

	label {
	  display: inline-block;
	  width: 4.75rem;
	}

 	input {
	  background-color: $wfc-white;
	  color: $wfc-white;
	  font-size: 0.9rem;
	  padding: 0.5rem;
	  width: 18rem;
	}

	input:focus {
		border: 2px solid $wfc-lightorange;
		outline: none;
	}
	input[type="submit"] {
		background-color: $wfc-lightorange;
		border: none;
		cursor: pointer;
		font-size: inherit;
		padding: 0.25rem 0.75rem;
		width: auto;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	input[type="submit"]:hover {
		color: inherit;
		text-decoration: underline;
	}
}

#logo-container-footer {
	display: table;
	float: right;
	width: 16rem;

	img {
		margin: 0.5rem 0 0;
		width: 100%;
	}
}

#footer-copyright-wrap {
	display: table;
	width: 100%;
}

#footer-copyright {
	display: table;
	float: left;

	a {
		color: inherit;
	}
}

#footer-social-media {
	display: table;
	float: right;
	font-size: 1.4rem;
	text-align: right;
	
	ul {
		margin-top: 0.5rem;
	}
	
	ul li {
	    display: inline;
		margin-right: 1.2rem;
	}

	ul li:last-of-type {
		margin-right: 0;
	}

	ul li a .fa {
		color: $wfc-white;
	}
}

#pzsp-footerImagePhone .pzsp-entry-body {
  text-align: left;
}

@media screen and (max-width: 800px) {
	
	#footer-copyright {
		p {
			margin-bottom: 0;
		}
	}

	#footer-social-media {
		clear: both;
		float: left;
		margin-bottom: 1rem;
	}

}

@media screen and (max-width: 715px) {
	
	#footer-social-media {
	  clear: left;
	  float: left;
	  margin-top: 0.6rem;
	  width: auto;
	}
}

@media screen and (max-width: 700px) {

	#logo-container-footer {
		clear: both;
		float: left; 
		margin: 1.5rem 0 0.5rem;
	}

	#footer-copyright {
		p {
			width: 20rem;
		}
	}
}

@media screen and (max-width: 370px) {
	#menu-main-nav-1 li.menu-item {
		display: list-item;
		float: none;
	}
}

//Section - UT Logo

.footer-ut-logo {
    background-color: $wfc-gray;
    font-size: ms(0, 0.85em);
}
#footer-ut-container {
    color: $wfc-white;
    display: table;
    margin: 0 auto;
    max-width: 1146px;
    padding: 0.8rem 0 0.4rem 0;
    width: 100%;
}

#footer-ut-wrap {
	display: table;
	margin: 0 auto;
	width: 100%;
}

#footer-ut-logo {
	display: inline-block;
	float: left;
	
	img {
  		width: 9rem;
	}
}

#footer-ut-wfc {
	display: inline-block;
	float: right;
	margin-top: 0.6rem;
}

@media screen and (max-width: 953px) {

	#footer-ut-wrap {
		width: 100%;
	}	
}

@media screen and (max-width: 715px) {

	#footer-ut-wfc {
		clear: left;
		float: left;
		margin-top: 0;
	}

	#footer-ut-logo {
		margin-right: 0;
	}

	#footer-ut-wrap {
		margin: 0;
	}
}




