.page-id-1883 {

	.page-header {
		border-bottom: 1px solid $wfc-lightgray;
	}
	.block-type-content .hentry {
		margin-bottom: 0;
		padding-bottom: 0;
	}

}

.archive-content {
	h3 {
		margin: 0 0 1rem;
	}
}

.archive-container {
	margin-bottom: 1.25rem;

	h2 {
		font-size: 1.3rem;
		margin-bottom: 0.8rem;
	}
}

.archive-grid {
	justify-content: flex-start;

	li.cat-item {
		border: 1px solid $wfc-lightgray;
		flex: 0 250px;
	    margin: 0 0.75rem 0.75rem 0;
		text-align: center;
	}

	li.cat-item:hover {
		border-color: $wfc-lightorange;
	}

	li.cat-item a {
		display: block;
		padding: 0.5rem;
	}

	li.cat-item a:hover {
		background-color: $wfc-lightorange;
		color: $wfc-white;
		text-decoration: none !important;
	}
}

@media screen and (max-width: 1180px) {

	.archive-grid {

		li.cat-item {
			flex: 0 225px;
		}
	}
}

@media screen and (max-width: 737px) {

	.archive-grid {
		
		li.cat-item {
			flex: 1 100%;
			margin: 0 0 0.75rem 0;
		}
	}
}

/*
Archive Category Page
=====================*/

#block-bj6563bcf6642955 {
	h3 {
		font-size: 1.3rem;
		font-weight: 900;
    	line-height: 120%;
	}

	.more-link {
	    background-color: transparent;
	    color: #f0b252;
	    font-style: italic;
	}

	.more-link::after {
	    content: " >";
	    display: inline-block;
	    padding-left: 0.5rem;
	}
}

//AngularJS pages pagination (Press Releases, Features Archives, Magazine Archives)

.archive-pagination {
    display: flex;
    flex-direction: row;
}