//Magazine Section

#magazine-content {
    border-bottom: 1px solid $wfc-lightgray2;
    display: inline-block;
    padding-bottom: 1.65rem;
}

.magazine-current-issue {
	border-bottom: 1px solid $wfc-lightgray2;
    display: table;
    padding-bottom: 1.75rem;
    margin: 0 1rem 0 0;

    img {
    	float: left;
    	margin-right: 1.5rem;
    }

    p:last-of-type {
    	margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 900px) {

    .magazine-current-issue {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {

    .magazine-current-issue img {
        float: none;
    }
}

.magazine-recent-issues {
    display: table;
    float: left;
    margin: 1.75rem 2rem 0 0;
    text-align: center;

    h6 {
        font-weight: 600;
        line-height: 120%;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 1180px) {
    
    #magazine-3  {
        margin-right: 0;
    }
}

@media screen and (max-width: 796px) {
    
    #magazine-2  {
        margin-right: 0;
    }
}


@media screen and (max-width: 756px) {
    
    .magazine-recent-issues {
        margin-right: 0;
        padding: 0;
        text-align: center;
        width: 100%;

        img {
            width: initial;
        }
    }


    .magazine-recent-issues:nth-of-type(3) {
        clear: left;
    }
}

.magazine-recent-issues:nth-of-type(2) {
	padding-left: 0;
}

@media screen and (max-width: 1279px) {
    
    div#block-b7h56096800b5f2d {
        padding: 0 1.5rem;
    }
}

//Archives Section

#mag-archive-buttons {
    display: inline-block;
    margin-top: 0.75rem;

    a {
        float: left;
        margin-bottom: 1.25rem;
        min-width: 12rem;
        padding: 0.278rem;
        text-align: center;
    }
}

a#mag-issuu {
    margin-right: 0.75rem;
}