//This file controls Press Room page and all child pages (i.e. Facts & Figures, Images, Experts Guide, Press Releases)

#press-room-container,
#facts-figures-container {
	justify-content: space-between;
}

.press-room-section {
	flex: 1 0 20.5rem;
	margin-bottom: 2.5rem;
	max-width: 45%;

	img {
		margin-bottom: 0.35rem;
		width: 100%;
	}

	ul {
	    list-style: inherit;
	    list-style-position: outside;
        padding-left: 1.1rem;
	}	
}

.press-room-section:nth-child(odd) {
	margin-right: 1.25rem;	
}

.press-room-section:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 944px) {
	.press-room-section {
		max-width: 100%;
	}
}

@media screen and (max-width: 904px) {
	.press-room-section {
		flex: 1 0 100%;
	}

	.press-room-section:nth-child(odd) {
		margin-right: 0;
	}
}

//Experts Guide landing

#experts-display-container {
	justify-content: space-between;
}

.array-item {
	flex: 1 0 20rem;	
	list-style: none;
	margin-bottom: 3rem;
	max-width: 383.5px;

	img {
		margin: 0;
	}

	a {
		color: inherit;
	}
}

.array-item:nth-child(odd) {
	margin-right: 2.5rem;
}

@media screen and (max-width: 909px) {
	.array-item {
		flex: 1 0 100%;
		max-width: 100%;
	}
	.array-item:nth-child(odd) {
		margin-right: 0;
	}
}

#experts-profile-container {
	h6 {
		margin: 0.3rem 0 1rem 0;
	}
	img {
	    float: left;
	    margin: 0 2rem 1rem 0;
	    width: 27rem;
	}
}

.expert-contact-card {
	border: 1px solid #dedede;
	list-style: none;
	margin: 1.5rem 0 2.5rem 0;
	padding: 1rem;
	width: 15rem;
}

@media screen and (max-width: 920px) {
	#experts-profile-container {
		img {
			float: none;
			width: 100%;			
		}
	}
}

// Hi-Res Landing

.hires-array-item {
    text-align: right;

    li {
    	line-height: 130%;
    }
}

.view-link, .dwld-link {
	color: $wfc-lightorange;
	display: inline-block;
	font-size: 0.9rem;
}

.view-link {
	margin-right: 0.85rem;
}

// Hi-Res Single

.single-hires-container {
	img {
		margin: 0;
	}
	
	button {
	    margin-top: 1rem;
	}
}

.single-dwld-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 15rem;

    .fa {
    	color: $wfc-white;
    }
}

// Press Releases

.page-id-2368 {

	.page-header {
		border-bottom: 1px solid $wfc-lightgray;
	}
	.block-type-content .hentry {
		margin-bottom: 0;
		padding-bottom: 0;
	}

}

.pr-list-item {
	border-bottom: 1px solid #dedede;
    margin-bottom: 0.65rem;    
	
	h2 {
	    margin: 2rem 0 0;
	}

	h2 a {
	    color: inherit;
	    font-size: 1.3rem;
	    font-weight: 900;
	}

	.pr-date {
		font-size: 0.8rem;
		line-height: initial;
		margin: 0.25rem 0 0;
	}
}

.pr-list-item:first-of-type h2 {
    margin: 0;
}

.pr-button {
    margin: 0 auto;
    display: block;
    margin-bottom: 1.5rem;
}