//Header navigation
div#header-nav {
    clear: left;
    float: left;
    margin: 1.5rem 0 0;
}

#menu-main-nav li.menu-item {
    border-left: 5px solid $wfc-lightorange;
    display: inline-block;
    float: left;
    margin-right: 2.75rem;
    padding: 0 0 0.1rem 0.5rem;
    text-transform: uppercase;

    a {
      font-size: 1rem;
      font-weight: 900;
    }

}

#menu-main-nav li.menu-item:last-of-type,
#menu-main-nav-1 li.menu-item:last-of-type {
  margin-right: 0;
}

//Footer navigation

#menu-main-nav-1 li.menu-item {
  display: inline-block;
  float: left;
  font-weight: 600;
  margin-right: 2rem;
}

//Mobile Navigation (The Hamburger, yum!)

#mobile-menu-overlay {
    background-color: #000;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;    
    width: 100%;    
    z-index: 999;
    -webkit-overflow-scrolling: touch;
}

.expand {
  display: block !important;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

#mobile-menu-btn {
  display: none;
  left: 88%;
  position: fixed;
  top: 2%;
  z-index: 1000;
}

#menu-btn {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
  
  span {
    display: block;
    width: 22px;
    height: 3px;
    margin: 4px 0;
    background: $wfc-white;
    z-index: 999;
  }
}

#menu-btn.menu-btn-nocolor {
    background-color: transparent;
  }

@media screen and (max-width: 1179px) {
    #mobile-menu-btn {
      display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    #mobile-menu-btn {
      left: 94%;
  }
}

#mobile-menu-wrap {
    bottom: 0;
    color: $wfc-white;
    display: none;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;

    a {
      color: inherit;
      text-decoration: none;
    }
}

#mobile-menu-wrap.show-menu {
    display: inline-block;
}

.mobile-menu-container {
    border-top: 1px solid #fff;
    float: left;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: left;
    width: 50%;
}

.mobile-menu-container:nth-child(-n+2) {
      border: none;
    }

#mobile-menu-centering {
    display: table;
    width: 85%;
    margin: 0 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.mobile-subnav-list {
    margin: 1rem 0 0 2.5rem;

    li a {
      font-size: 1.2rem;
      line-height: 175%;    
    }
}

#mobile-search {
  form {
    margin-top: 1.3rem;
  }
  input {
    float: left;
    width: 100%;
  }
  button {
    @include nav_search_button;
    clear: left;
    float: left;
    margin-top: 0.75rem;
  }

  .mobile-subnav input[placeholder] {
    font-size: 0.9rem;
  }
}

//Page navigation at bottom of single post pages
.block-type-content div.loop-navigation div.nav-previous a,
.block-type-content div.loop-navigation div.nav-next a {
  background-color: transparent;
  border: 1px solid $wfc-lightorange;
  border-radius: 0;
  color: $wfc-lightorange;
  font-size: ms(0, 0.8em);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.block-type-content div.loop-navigation div.nav-previous a:hover,
.block-type-content div.loop-navigation div.nav-next a:hover {
  background-color: transparent;
  border: 1px solid $wfc-lightorange;
  text-decoration: underline;
}

div#post-nav-callout {
    text-align: center;
    margin-bottom: 0.8rem;
}